In [20]:
# Install necessary packages
%pip install openmeteo-requests
%pip install requests-cache retry-requests numpy pandas

Requirement already satisfied: openmeteo-requests in c:\users\hollidaydds\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: openmeteo-sdk>=1.4.0 in c:\users\hollidaydds\anaconda3\lib\site-packages (from openmeteo-requests) (1.16.0)
Requirement already satisfied: requests in c:\users\hollidaydds\anaconda3\lib\site-packages (from openmeteo-requests) (2.32.2)
Requirement already satisfied: flatbuffers>=24.0.0 in c:\users\hollidaydds\anaconda3\lib\site-packages (from openmeteo-sdk>=1.4.0->openmeteo-requests) (24.3.25)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hollidaydds\anaconda3\lib\site-packages (from requests->openmeteo-requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hollidaydds\anaconda3\lib\site-packages (from requests->openmeteo-requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hollidaydds\anaconda3\lib\site-packages (from requests->openmeteo-requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hollidaydds\anaconda3\lib\site-packages (from requests->openmeteo-requests) (2024.6.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: requests-cache in c:\users\hollidaydds\anaconda3\lib\site-packages (1.2.1)
Requirement already satisfied: retry-requests in c:\users\hollidaydds\anaconda3\lib\site-packages (2.0.0)
Requirement already satisfied: numpy in c:\users\hollidaydds\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: pandas in c:\users\hollidaydds\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: attrs>=21.2 in c:\users\hollidaydds\anaconda3\lib\site-packages (from requests-cache) (23.1.0)
Requirement already satisfied: cattrs>=22.2 in c:\users\hollidaydds\anaconda3\lib\site-packages (from requests-cache) (24.1.2)
Requirement already satisfied: platformdirs>=2.5 in c:\users\hollidaydds\anaconda3\lib\site-packages (from requests-cache) (3.10.0)
Requirement already satisfied: requests>=2.22 in c:\users\hollidaydds\anaconda3\lib\site-packages (from requests-cache) (2.32.2)
Requirement already satisfied: url-normalize>=1.4 in c:\users\hollidaydds\anaconda3\lib\site-packages (from requests-cache) (1.4.3)
Requirement already satisfied: urllib3>=1.25.5 in c:\users\hollidaydds\anaconda3\lib\site-packages (from requests-cache) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hollidaydds\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hollidaydds\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hollidaydds\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hollidaydds\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hollidaydds\anaconda3\lib\site-packages (from requests>=2.22->requests-cache) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hollidaydds\anaconda3\lib\site-packages (from requests>=2.22->requests-cache) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hollidaydds\anaconda3\lib\site-packages (from requests>=2.22->requests-cache) (2024.6.2)
Note: you may need to restart the kernel to use updated packages.

In [21]:
# Import dependencies
import openmeteo_requests
import requests_cache
import pandas as pd
import json
import requests
import os

from retry_requests import retry
from dotenv import load_dotenv, find_dotenv


# Setup the Open-Meteo API client with cache and retry on error
cache_session = requests_cache.CachedSession('.cache', expire_after = -1)
retry_session = retry(cache_session, retries = 5, backoff_factor = 0.2)
openmeteo = openmeteo_requests.Client(session = retry_session)

In [22]:
# Load EIA Api Key
load_dotenv(find_dotenv("local_keys.env"))
eia_key = os.getenv("eia")

# Setup EIA Energy API URL
eia_base_url = f"https://api.eia.gov/v2/electricity/electric-power-operational-data/data/?api_key={eia_key}"

In [25]:
# Setup Open-Meteo base request
open_meteo_base_url = "https://archive-api.open-meteo.com/v1/archive"

open_meteo_base_params = {
	"start_date": "2019-01-01",
	"end_date": "2023-12-31",
	"daily": ["temperature_2m_mean", "precipitation_sum"],
	"temperature_unit": "fahrenheit",
	"wind_speed_unit": "mph",
	"precipitation_unit": "inch"
}

In [26]:
# Get Honolulu Data
honoalulu_params = {
    **open_meteo_base_params,
    "latitude": 21.3069,  
    "longitude": -157.8583
}

responses = openmeteo.weather_api(open_meteo_base_url, params=honoalulu_params)
honolulu_response = response = responses[0]

In [27]:
# Process Honalulu Data
daily = honolulu_response.Daily()
daily_temperature_2m_mean = daily.Variables(0).ValuesAsNumpy()
daily_precipitation_sum = daily.Variables(1).ValuesAsNumpy()

daily_data = {"date": pd.date_range(
	start = pd.to_datetime(daily.Time(), unit = "s", utc = True),
	end = pd.to_datetime(daily.TimeEnd(), unit = "s", utc = True),
	freq = pd.Timedelta(seconds = daily.Interval()),
	inclusive = "left"
)}

daily_data["Mean Temperature (f)"] = daily_temperature_2m_mean
daily_data["Total Precipitation (in)"] = daily_precipitation_sum

                       date  Mean Temperature (f)  Total Precipitation (in)
0 2019-01-01 00:00:00+00:00             75.174347                  0.003937
1 2019-01-02 00:00:00+00:00             74.825607                  0.000000
2 2019-01-03 00:00:00+00:00             74.308105                  0.011811
3 2019-01-04 00:00:00+00:00             74.338097                  0.000000
4 2019-01-05 00:00:00+00:00             74.004356                  0.000000

In [39]:
# Remove NA and Normailze date format
honolulu_daily_df = pd.DataFrame(data = daily_data).dropna(how='any' )
honolulu_daily_df['date'] = honolulu_daily_dataframe['date'].dt.tz_localize(None)

honolulu_daily_df.head()

        date  Mean Temperature (f)  Total Precipitation (in)
0 2019-01-01             75.174347                  0.003937
1 2019-01-02             74.825607                  0.000000
2 2019-01-03             74.308105                  0.011811
3 2019-01-04             74.338097                  0.000000
4 2019-01-05             74.004356                  0.000000

In [40]:
# Convert daily data to monthly 
honolulu_daily_df.set_index('date', inplace=True)
honolulu_monthly_df = honolulu_daily_df.resample('M').mean()  # You can also use sum(), max(), min(), etc.

honolulu_monthly_df.reset_index(inplace=True)
honolulu_monthly_df['date'] = honolulu_monthly_df['date'].dt.strftime('%m/%Y')

honolulu_monthly_df

C:\Users\HollidayDDS\AppData\Local\Temp\ipykernel_31488\2199984611.py:3: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  honolulu_monthly_df = honolulu_daily_df.resample('M').mean()  # You can also use sum(), max(), min(), etc.

       date  Mean Temperature (f)  Total Precipitation (in)
0   01/2019             72.986885                  0.031496
1   02/2019             69.448105                  0.079021
2   03/2019             72.239670                  0.009779
3   04/2019             75.143097                  0.028609
4   05/2019             76.997574                  0.068580
5   06/2019             79.391228                  0.137270
6   07/2019             80.425201                  0.025146
7   08/2019             81.786568                  0.030861
8   09/2019             81.418472                  0.047900
9   10/2019             79.828346                  0.032893
10  11/2019             78.115479                  0.033990
11  12/2019             75.871490                  0.126238
12  01/2020             74.030724                  0.045847
13  02/2020             72.809135                  0.041406
14  03/2020             72.660637                  0.104521
15  04/2020             75.191353                  0.039895
16  05/2020             76.737854                  0.027940
17  06/2020             78.597481                  0.020210
18  07/2020             79.293785                  0.034544
19  08/2020             79.960075                  0.006350
20  09/2020             79.942848                  0.008661
21  10/2020             79.319183                  0.063500
22  11/2020             77.437599                  0.035302
23  12/2020             75.776886                  0.023876
24  01/2021             74.534668                  0.034671
25  02/2021             72.720238                  0.076209
26  03/2021             72.215836                  0.155956
27  04/2021             73.727608                  0.034514
28  05/2021             76.464470                  0.024892
29  06/2021             78.178596                  0.017848
30  07/2021             78.624710                  0.019812
31  08/2021             78.730919                  0.043688
32  09/2021             78.428726                  0.018110
33  10/2021             77.472618                  0.020955
34  11/2021             76.800980                  0.033727
35  12/2021             73.729507                  0.183642
36  01/2022             72.757294                  0.087630
37  02/2022             74.234032                  0.010546
38  03/2022             75.295441                  0.030099
39  04/2022             75.423470                  0.030709
40  05/2022             76.447662                  0.048387
41  06/2022             78.157471                  0.022703
42  07/2022             78.450157                  0.023368
43  08/2022             79.790718                  0.022987
44  09/2022             79.982979                  0.030577
45  10/2022             78.631248                  0.051308
46  11/2022             76.802223                  0.027559
47  12/2022             74.704147                  0.083312
48  01/2023             73.859558                  0.034036
49  02/2023             73.282341                  0.129078
50  03/2023             73.849030                  0.101854
51  04/2023             74.418228                  0.129003
52  05/2023             75.509064                  0.051943
53  06/2023             78.046852                  0.031365
54  07/2023             79.051971                  0.019812
55  08/2023             79.650398                  0.018542
56  09/2023             79.518471                  0.026509
57  10/2023             78.481483                  0.023622
58  11/2023             76.799599                  0.079921
59  12/2023             73.433990                  0.044450